<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183582132651-s8mdt5sh2a584r4m4oqlfaljdt35ceee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183582132651-s8mdt5sh2a584r4m4oqlfaljdt35ceee</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183582132651-d6fp5176ocehga0md4kjf8uiveondbdh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBy57LAP4NUsQWTAdjzpeR5Pa2TmsJWy3g</string>
	<key>GCM_SENDER_ID</key>
	<string>183582132651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>codename.triplei.codename</string>
	<key>PROJECT_ID</key>
	<string>word-association-8764f</string>
	<key>STORAGE_BUCKET</key>
	<string>word-association-8764f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183582132651:ios:09d43c6c827fee0ec9eaee</string>
	<key>DATABASE_URL</key>
	<string>https://word-association-8764f.firebaseio.com</string>
</dict>
</plist>